################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankOCR.Tests/bin/
/BankOCR.Tests/obj
/BankOCR/obj/
/BankOCR/bin/
/BankOCR/.vs
/.vs
